peewee==3.9.6
flask
flask==2.3.2
wtforms
wtforms==2.2.1
flask_wtf
flask_wtf==0.14.2
flask-bootstrap
flask-bootstrap==3.3.7.1
flask_moment
flask_moment==0.8.0
flask-sqlalchemy==2.4.0
flask-migrate==2.5.2
werkzeug==0.15.4