{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block page_title %}Home{% endblock %}
{% block page_nav_bar %}
    <li><a href={{ url_for('index'), logout_user() }}>Logout</a></li>
{% endblock %}
{% block page_content %}
    <div class='page-header'>
        <h1>Welcome to your homepage {{ name|capitalize }}!</h1>
    </div>
    <div>
        <h4>Make a new order</h4>
        {{ wtf.quick_form(orderform, action=url_for('order', name=name)) }}
    </div>
    <div>
        <h4>Your Orders:</h4>
        {{ wtf.quick_form(myorders) }}
        {{ status }}
        {{ price }}
        {{ date_out }}
    </div>
{% endblock %}